@font-face { 
	font-family: timeburner;
	src: url("timeburnerbold-pegr-webfont.woff");
}

html, body {
    font-family: timeburner;
    color: #FFFFFF;
    margin: 0;
	height: 100%;
}
.hoofd {
	grid-area: hoofd;
}
.datum {
	grid-area: datum;
}
.klok {
	grid-area: klok;
}
.dagTijden {
	grid-area: dagtijd;
}
.verschil {
	grid-area: verschil;
}
#main {   
	height: 100%;   
}
.container {
	margin: 10px auto 10px auto;
	width: 60%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	text-align: center;
	border-radius: 20px;
}
.aarde {
	position: absolute;
	top: 80px;
	left: 30px;
	width: 80px;
	animation: 10s spin-aarde linear infinite;
}
@keyframes spin-aarde {
	to {
		transform: rotate(360deg);
	}
}
.mars {
	position: absolute;
	top: 80px;
	right: 30px;
	width: 80px;
	animation: 10s spin-mars linear infinite;
}
@keyframes spin-mars {
	to {
		transform: rotate(-360deg);
	}
}
.schip {
	position: absolute;
	top: 100px;
	width: 60px;
	animation: 3s vliegen1 infinite alternate ease-in-out;
}

.text {
	margin: 5px;
}
.titel {
	font-size: 1.5em;	
	padding: 10px;
	margin: 0 0 80px 0;
}
h1 {
	text-transform: uppercase;
	text-align: center;
}
h1 span#date {
	display: block;
}
h1 span#diff {
	display: block;
}
.trans {
	opacity: 0;
}

@media only screen and (min-width: 834px) and (max-width: 1365px) {
	main{
        display: grid;
        grid-template-columns: 1fr 1fr;
      
        grid-template-areas: 
              "hoofd hoofd"
              "datum klok"
			  "dagtijd verschil"; 
	} 
	.aarde {
		top: 100px;
		left: 30px;
		width: 100px;
	}
	.mars {
		top: 100px;
		right: 30px;
		width: 100px;
	}
	.schip {
		top: 130px;
		width: 80px;
		animation: 3s vliegen2 infinite alternate ease-in-out;
	}
	.titel {
		font-size: 2.5em;
		padding-top: 20px;
		height: 30%;
	}
	.container {
		width: 90%;
	}
	.klok {
		font-size: 4em;
	}
	.datum {
		font-size: 1.5em;
	}
	.dagTijden {
		font-size: 1.3em;
	}
	.verschil {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
	main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
        grid-template-areas: 
              "hoofd hoofd hoofd"
              "klok klok klok"
			  "datum datum datum"
			  "dagtijd verschil verschil"; 
	}
	.aarde {
		top: 100px;
		left: 200px;
		width: 130px;
	}
	.mars {
		top: 100px;
		right: 200px;
		width: 130px;
	}
	.schip {
		top: 140px;
		width: 120px;
		animation: 3s vliegen3 infinite alternate ease-in-out;
	}
	.titel {
		font-size: 3.5em;
		padding-top: 20px;
		height: 30%;
	}
	.container{
		height: 80%;
		width: 80%;
	}
	.klok {
		padding-top: 0;
		font-size: 4em;
	}
	.datum {
		margin-top: 0;
		font-size: 3em;
	}
	.dagTijden {
		margin-top: 0;
		margin-left: 30%;
		width: 100%;
		font-size: 1.5em;
	}
	.verschil {
		margin-top: 0;
		margin-right: 15%;
		width: 60%;
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1920px) {
	main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
        grid-template-areas: 
              "hoofd hoofd hoofd"
              "klok klok datum"
			  "dagtijd verschil datum"
			  "dagtijd verschil datum"; 
	}
	.aarde {
		top: 150px;
		left: 300px;
		width: 200px;
	}
	.mars {
		top: 150px;
		right: 300px;
		width: 200px;
	}
	.schip {
		top: 200px;
		width: 200px;
		animation: 3s vliegen4 infinite alternate ease-in-out;
	}
	.titel {
		font-size: 6em;
	}
	.klok {
		font-size: 5em;
		width: 80%;
	}
	.datum {
		font-size: 4em;
		margin-right: 100%;
		width: 80%;
	}
	.dagTijden, .verschil {
		font-size: 2em;
		width: 70%;
	}
	.dagTijden {
		margin-left: 20%;
	}
	.verschil {
		margin-right: 20%;
	}
}

@keyframes vliegen1 {
	0% { 
		left: 110px; 
	}
	50% {
		width: 65px;
	}
	100% {
		left: 200px; 
	}
}
@keyframes vliegen2 {
	0% { 
		left: 140px; 
	}
	50% {
		width: 100px;
	}
	100% {
		left: 620px; 
	}
}
@keyframes vliegen3 {
	0% { 
		left: 350px; 
	}
	50% {
		width: 150px;
	}
	100% {
		left: 900px; 
	}
}
@keyframes vliegen4 {
	0% { 
		left: 520px; 
	}
	50% {
		width: 250px;
	}
	100% {
		left: 1200px; 
	}
}