@font-face { 
	font-family: timeburner;
	src: url("timeburnerbold-pegr-webfont.woff");
}

html, body {
    font-family: timeburner;
    color: #FFFFFF;
    margin: 0;
	height: 100%;
}
.titel {
	grid-area: titel;
}
.datum {
	grid-area: datum;
}
.klok {
	grid-area: klok;
}
.dagTijden {
	grid-area: dagtijd;
}
.verschil {
	grid-area: verschil;
}
#main {   
	height: 100%;   
}
.container {
	margin: 20px auto 20px auto;
	width: 60%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);;
	padding: 5px;
	text-align: center;
	border-radius: 20px;
}
.text {
	margin: 5px;
}
.titel {
	font-size: 1.5em;	
	padding: 10px;
	margin: 0;
}
h1 {
	text-transform: uppercase;
	text-align: center;
}
h1 span#date {
	display: block;
}
h1 span#diff {
	display: block;
}
.trans {
	opacity: 0;
}

@media only screen and (min-width: 834px) and (max-width: 1365px) {
	main{
        display: grid;
        grid-template-columns: 1fr 1fr;
      
        grid-template-areas: 
              "titel titel"
              "datum klok"
			  "dagtijd verschil"; 
	} 
	.titel {
		font-size: 3em;
		padding-top: 80px;
		height: 30%;
	}
	.container {
		width: 90%;
	}
	.klok {
		font-size: 4em;
	}
	.datum {
		font-size: 2em;
	}
	.dagTijden {
		font-size: 1.3em;
	}
	.verschil {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
	main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
        grid-template-areas: 
              "titel titel titel"
              "klok klok klok"
			  "datum datum datum"
			  "dagtijd verschil verschil"; 
	} 
	.titel {
		font-size: 3.5em;
		padding-top: 80px;
		height: 30%;
	}
	.container{
		height: 80%;
		width: 80%;
	}
	.klok {
		padding-top: 0;
		font-size: 5em;
	}
	.datum {
		margin-top: 0;
		font-size: 3em;
	}
	.dagTijden {
		margin-top: 0;
		margin-left: 30%;
		width: 100%;
		font-size: 2em;
	}
	.verschil {
		margin-top: 0;
		margin-right: 15%;
		width: 60%;
		font-size: 2em;
	}
}

@media only screen and (min-width: 1920px) {
	main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
        grid-template-areas: 
              "titel titel titel"
              "klok klok datum"
			  "dagtijd verschil datum"
			  "dagtijd verschil datum"; 
	}
	.titel {
		font-size: 8em;
	}
	.klok {
		font-size: 8em;
		width: 80%;
	}
	.datum {
		font-size: 4em;
		margin-right: 100%;
		width: 80%;
	}
	.dagTijden, .verschil {
		font-size: 2.5em;
		width: 70%;
	}
	.dagTijden {
		margin-left: 20%;
	}
	.verschil {
		margin-right: 20%;
	}
}